.s-article {
	padding-left: rem(20);
	padding-right: rem(20);

	&__title {
		font-size: rem(23);
		font-weight: normal;
		& > a {
			font-family: $roboto-slab;
		}
	}

	&__content {
		font-size: rem(14);
		letter-spacing: rem(0.014);
    	line-height: rem(23.33);
    	color: $dark-gray;
	}
}