.c-nav {
	position: fixed;
    top: 0;
    width: 100%;
    padding-top: rem(45);
    padding-bottom: rem(20);
	background: $white;
	z-index: 3;

	&__container {
		position: relative;
		max-width: rem(700);
	}

	&__logo {
		width: rem(25);
	    border-radius: 50%;
	    vertical-align: top;
	    margin-right: rem(16);
	    margin-left: rem(20);
	    display: inline-block;
	}

	&__title {
		font-size: 1em;
		margin: 0;
		& > a {
			font-family: $roboto-slab;
			display: block;
		}
	}
}