body {
	font-family: $lora;
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5, h6 {
	font-family: $roboto-slab;
}

a {
	text-decoration: none;
	color: $dark-gray;
	font-family: $montserrat;
	&:hover {
		color: $light-green;
	}
}

ul {
	list-style: none;
}