$base-font-size: 16;

$roboto-slab: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
$lora: 'Lora', Georgia, 'Times New Roman', Times, serif;
$montserrat: 'Montserrat', Arial, Helvetica, sans-serif;